extends baseEmail 

block content 
    p Hello #{firstName},
    p Welcome to Foodie!
    p We're glad to have you on board.
    p If you have any questions, please contact us through the contact form on the website.